.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f8f9fa;
    box-shadow: 0px 4px 4px 0px #00000010;
  }
  
  .logo {
    height: 42px;
    width: 42px;
    display: none; 
    @media (max-width: 899px) {
      display: flex; 
    }
  }
  
  .user-profile-initials {
    height: 40px;
    width: 40px;
    border: #2A3647 solid 3px;
    border-radius: 100%;
    cursor: pointer;
    color: #29ABE2;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .overlay {
    width: 150px;
    height: 158px;
    background-color: #2A3647;
    color: #CDCDCD;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 106px;
    right: 20px;
    border-radius: 20px 0 20px 20px;
    padding: 5px;
    z-index: 5;
  }
  
  .overlay-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .overlay-content span {
    margin: 0.5rem 0;
    cursor: pointer;
  }

  .burger-menu {
    display: none;
    cursor: pointer;
    font-size: 32px;
    @media (max-width: 899px) {
        display: block;
    }
}

