<div class="login-container">
  <div class="login-header">
    <button class="back-button">←</button>
    <h1>Hey, Let’s Sign in!</h1>
    <p>Welcome back, You've been missed!</p>
  </div>

  <form [formGroup]="signInForm" (ngSubmit)="onSubmit()" class="login-form">
    <div class="form-field">
      <!-- Hier 'username' anstatt 'email' -->
      <input type="text" id="username" formControlName="username" placeholder="Username">
    </div>

    <div class="form-field password-field">
      <input [type]="hide ? 'password' : 'text'" id="password" formControlName="password" placeholder="Password">
      <button type="button" (click)="hide = !hide" class="toggle-password">
        👁️
      </button>
      <button type="button" class="fingerprint-icon">
        🔒
      </button>
    </div>

    <div class="forgot-password">
      <a href="/forgot-password">Forgot Password?</a>
    </div>

    <div class="button-container">
      <button type="submit" [disabled]="signInForm.invalid">Login →</button>
    </div>

    <div class="divider">
      <span>Or Login With</span>
    </div>

    <div class="google-login">
      <button class="google-button">Login with Google</button>
    </div>

    <div class="signup-container">
      <span>Don’t have an account?</span>
      <a class="register" href="/register">Register in here</a>
    </div>
  </form>
</div>
