body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f7fd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Volle Höhe nutzen */
  margin: 0;
}

.login-container {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  transition: box-shadow 0.3s ease;
}

.login-container:hover {
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.15); /* Leichte Erhöhung des Schattens bei Hover */
}

.login-header {
  text-align: center;
  margin-bottom: 40px;
}

.login-header h1 {
  font-size: 28px;
  font-weight: bold;
  color: #2b2b43;
}

.login-header p {
  font-size: 16px;
  color: #8c8c8c;
}

.form-field {
  margin-bottom: 24px;
  background-color: #ecf2ff;
  border-radius: 12px; /* Ecken der Felder abrunden */
  padding: 10px;
  width: 80%;
}

input {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #f9f9f9;
  outline: none;
  transition: background-color 0.3s, box-shadow 0.3s;
}

input:focus {
  background-color: #fff;
  box-shadow: 0 0 8px rgba(90, 103, 216, 0.3); /* Blauer Schimmer bei Fokussierung */
}

.password-field {
  position: relative;
}

.toggle-password, .fingerprint-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
}

.toggle-password {
  right: 40px;
}

.fingerprint-icon {
  right: 10px;
}

.forgot-password {
  text-align: right;
  margin-bottom: 30px;
}

.forgot-password a {
  color: #8c8c8c;
  font-size: 14px;
  text-decoration: none;
  transition: color 0.3s;
}

.forgot-password a:hover {
  color: #5a67d8;
}

.button-container button {
  width: 100%;
  background-color: #5a67d8;
  color: #fff;
  border: none;
  padding: 16px;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.button-container button:hover {
  background-color: #434190;
  box-shadow: 0 8px 15px rgba(67, 65, 144, 0.2);
}

.divider {
  text-align: center;
  margin: 30px 0;
  font-size: 14px;
  color: #8c8c8c;
}

.google-login {
  text-align: center;
}

.google-button {
  background-color: #fff;
  border: 2px solid #ddd;
  padding: 14px 24px;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.google-button:hover {
  background-color: #f1f1f1;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.signup-container {
  text-align: center;
  margin-top: 20px;
}

.signup-container a {
  color: #5a67d8;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.signup-container a:hover {
  color: #434190;
  text-decoration: underline;
}

.register {
  color: #1ab095;
}
