<form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width">
    <mat-label>Benutzername</mat-label> <!-- Benutzername statt E-Mail -->
    <input matInput type="text" formControlName="username" placeholder="Dein Benutzername">
    <mat-error *ngIf="signInForm.get('username')?.hasError('required')">
      Benutzername ist <strong>erforderlich</strong>.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Passwort</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" placeholder="******">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Passwort anzeigen/verbergen'">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="signInForm.get('password')?.hasError('minlength')">
      Das Passwort muss mindestens 8 Zeichen lang sein.
    </mat-error>
    <mat-error *ngIf="signInForm.get('password')?.hasError('required')">
      Passwort ist <strong>erforderlich</strong>.
    </mat-error>
  </mat-form-field>

  <!-- Fehlernachricht beim Login -->
  <div *ngIf="loginError" class="error-message">
    <span>{{ loginError }}</span>
  </div>

  <div class="button-container">
    <button mat-raised-button color="primary" type="submit" [disabled]="signInForm.invalid">Log in</button>
  </div>
</form>
