<div class="navigation-menu">
    <div class="logo-section">
    </div>

    <div class="buttons">
        <div class="menu-btn" routerLink="/home">
            <div class="menu-icon-summary">
                <!-- Hier kommt das SVG-Icon für die Startseite -->
                <svg class="menu-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/>
                </svg>
            </div>
            <span>Startseite</span>
        </div>

        <div class="menu-btn" routerLink="/appointment">
            <div class="menu-icon-summary">
                <!-- Hier kommt das SVG-Icon für Termine -->
                <svg class="menu-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V10h14v9zm0-11H5V5h14v3z"/>
                </svg>
            </div>
            <span>Termine</span>
        </div>

        <div class="menu-btn" routerLink="/documents">
            <div class="menu-icon-summary">
                <!-- Hier kommt das SVG-Icon für Dokumente -->
                <svg class="menu-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M14 2H6c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z"/>
                </svg>
            </div>
            <span>Dokumente</span>
        </div>

        <div class="menu-btn" routerLink="/messages">
            <div class="menu-icon-summary">
                <!-- Hier kommt das SVG-Icon für Nachrichten -->
                <svg class="menu-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M21 6h-2V4h2v2zm-2 10h2v-2h-2v2zm-4 2h2v-2h-2v2zm4-4h2v-2h-2v2zM5 10h14v2H5v-2zm0-6h14v2H5V4zm0 12h10v2H5v-2z"/>
                </svg>
            </div>
            <span>Nachrichten</span>
        </div>

        <div class="menu-btn" routerLink="/account">
            <div class="menu-icon-summary">
                <!-- Hier kommt das SVG-Icon für Konto -->
                <svg class="menu-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
                </svg>
            </div>
            <span>Konto</span>
        </div>
    </div>
</div>
