<div class="container">
    <div class="image-grid">
        <img src="./assets/img/Doctor.svg" alt="Doctor">
        <img src="./assets/img/Doctor2.svg" alt="Doctor">
        <img src="./assets/img/Doctor2.svg" alt="Doctor">
        <img src="./assets/img/Doctor2.svg" alt="Doctor">
        <img src="./assets/img/Doctor2.svg" alt="Doctor">
    </div>
    <div class="text-section">
        <h1>Einfache Konsultation mit einem Arzt in deiner Tasche</h1>
        <p>Eine vollständige Gesundheits-App, die es den Kunden ermöglicht, Diagnosen über ihr Telefon zu erhalten.</p>
        <div class="pagination">
            <span class="dot"></span>
            <span class="dot active"></span>
            <span class="dot"></span>
        </div>
        <div class="button-section">
            <button class="skip-button">Überspringen</button>
            <!-- Nutze routerLink für die Navigation -->
            <button class="login-button" [routerLink]="['/login']">Login →</button>
        </div>
    </div>
</div>
